body {
  padding: 2rem;
  padding-top: 4rem;
}

.tempResults {
  margin-top: 4rem;
  display: none;
}

.title {
  margin-top: 4rem;
  margin-bottom: 4rem;	
  text-align: center;
  font-size: 3rem;
}

.searchBtn {
	margin-top: 2.5rem;
  border-radius: 0;
  width: 100%;
  min-width: 8rem;
}

input.form-control {
  padding: 0.5rem;
  border-radius: 0;
}

.centerContent {
  text-align: center;
}

.searchCriteriaSection {
  margin-bottom: 3rem;
}

.jobRow {
/*    max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ccc;
    padding: 2rem 0;
}

.jobRowTemplate { display: none;}


@media (min-width: @screen-md-min) {

  .searchBtn { width: auto;}

}    
