body {
  padding: 2rem;
  padding-top: 4rem;
}
.title {
  margin-top: 4rem;
  margin-bottom: 4rem;	
  text-align: center;
  font-size: 3rem;
}

.subtitle {
  padding: 1rem 0;
  text-align: left;
  font-weight: bold;
}

.searchBtn {
	margin-top: 0.5rem;
  border-radius: 0;
  width: 100%;
  min-width: 8rem;
}

input.form-control {
  padding: 0.5rem;
  border-radius: 0;
}

.centerContent {
  text-align: center;
}


@media (min-width: @screen-md-min) {

  .searchBtn { width: auto;}

}    